<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datoooos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />

</head>
<body  >
    <div class="container-xl mt-4 items-center container-center " >
            <h2 class="text-center text-primary"> Conoce tu equipo <3 </h2>
            <div class="row">
            <div class="col-md-12 text-light" >
                <table class="table table-bordered table-hover table-info ">
                    <thead>
                        <tr>
                            <td>Modelo</td>
                            <td>Velocidad</td>
                            <td>Sistema</td>
                            <td>Arquitectura</td>
                            <td>Version</td>
                            <td>tiempo de actividad del sistema</td>
                            <td>Veces</td>
                    </tr>
                    </thead>
                    <tbody>
                        <% if(dataExtra.dataPoke){ %>
                            <% for(let i=0; i < dataExtra.dataPoke.length; i++) {%>
                                <tr>
                                    <td><%= dataExtra.dataPoke [i].model%></td>
                                    <td><%= dataExtra.dataPoke [i].speed%></td>
                                    <td><%= dataExtra.dataSystem%></td>
                                    <td><%= dataExtra.dataArqui%></td>
                                    <td><%= dataExtra.dataVersion%></td>
                                    <td><%= dataExtra.dataTime%> segundos</td>
                                    <td>
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <td>Usuario</td>
                                                    <td>nice</td>
                                                    <td>Sistema</td>
                                                    <td>Inactivo</td>
                                                    <td>irq</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                        <tr>
                                                            <td><%= dataExtra.dataPoke [i].times.user%></td>
                                                            <td><%= dataExtra.dataPoke [i].times.nice%></td>
                                                            <td><%= dataExtra.dataPoke [i].times.sys%></td>
                                                            <td><%= dataExtra.dataPoke [i].times.idle%></td>
                                                            <td><%= dataExtra.dataPoke [i].times.irq%></td>
                                                        </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            <% } %>
                        <% } %>
                    </tbody>
                </table>
            </div>  
            <div class="row">
            <div class="col-md-5">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td>Almacenamiento Total</td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> Total memoria disponible en MB : <%= dataExtra.dataTotal %></td>
                        </tr>
            </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td>Almacenamiento Disponible</td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Total memoria libre en MB :<%= dataExtra.dataLibre %></td>
                        </tr>
            </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td>Disco Actual</td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <td>Montado en</td>
                                            <td>Total</td>
                                            <td>Usado</td>
                                            <td>Disponible</td>
                                            <td>Capacidad</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                                <tr>
                                                    <td><%= dataExtra.dataDiscMounted%></td>
                                                    <td><%= dataExtra.dataDiscTotall%></td>
                                                    <td><%= dataExtra.dataDiscUsed%></td>
                                                    <td><%= dataExtra.dataDiscAvailable%></td>
                                                    <td><%= dataExtra.dataDiscCapacity%></td>
                                                </tr>
                            </tbody>
                                </table>
                            </td>
                        </tr>
            </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>